BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: Consecutive
SkipMacroDefinitionBody: true

IndentPPDirectives: None

AlwaysBreakAfterDefinitionReturnType: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  BeforeElse: false
  BeforeCatch: false

MaxEmptyLinesToKeep: 3
SeparateDefinitionBlocks: Leave